.container {
  flex: 1;
  height: 100%;
  margin: 0 auto;
  width: 70%;
}

.pageTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  color: #313037;
  margin-bottom: 40px;
}

.darkPageTitle {
  color: white;
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
  cursor: pointer;
}

.pageNumber {
  display: flex;
  gap: 10px;
}

.page:hover {
  opacity: 0.8;
}

.activePage {
  font-weight: 600;
  cursor: pointer;
  color: #2231AA;
}

.ordering {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.button {
  color: #2231AA;
  border-radius: 10px;
}

.buttonClicked {
  border: 1px solid #2231AA;
}