.container {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-top: 1px solid #dadada;
    width: 70%;
    margin: 0 auto;
}

.darkContainer {
    background-color: #313037;
    color: #ffffff;
}

