.containerDesc {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
    width: 544px;
    margin-bottom: 40px;
}

div > span {
    font-weight: 700;
}

.inputsContainer {
    margin-top: 40px;
}

.button {
    margin-top: 48px;
    text-align: center;
}

.darkContainerDesc {
    color: white;
 }