.container {
   display: flex;
   gap: 32px;
   max-width: 1200px;
   margin: 0 auto;

}
.rightSide {
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.leftSide {
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.mediumContainer {
   display: flex;
   max-width: 736px;
   gap: 40px 32px;
   flex-wrap: wrap;
}

.darkContainer {
   background: #313037;
}